{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    <section class="page-title" style="background-image:url({%static 'home/images/background/6.jpg' %});">
        <div class="auto-container">
            <h1>Documents Publics</h1>
        </div>
    </section>
    <section class="page-info " style="background-color:whitesmoke;" >
            <div class="auto-container" >
                <div class="inner-container clearfix">
                
                    <div class="pull-left">
                        <ul class="bread-crumb clearfix">
                            <li><a href="index.html">Accueil</a></li>
                            <li>Documents Publics</li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> partager</a></div>
                    </div>
                    
                </div>
            </div>
        </section>
    <section class="faq-section style-two" style="background-color:whitesmoke;" >
    	<div class="auto-container">
            <h2>DOCUMENTS PUBLICS</h2>

            <ul class="accordion-box style-five " >
                <li class="accordion block"  >
                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus " ></span> <span class="icon flaticon-minus flaticon-line" ></span></div>Documents Budgétaires</div>

                    <div class="acc-content " 
                    style="padding-bottom:25px;">
                        <div class="content">
                            <div class="text">
                                <div class="col-md-6">
                        
               <a href="" class="sous-cat-item">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        <span > Budget</span>
                         </a>

                                </div>
                                <div class="col-md-6">
                         <a href="" class="sous-cat-item">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        <span>Etat d' Execution du Budget</span>
                         </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <br>
                <li class="accordion block">
                    <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon flaticon-minus flaticon-line"></span></div>Marchés Publiques</div>
                    <div class="acc-content current"
                    style="padding-bottom:165px; ">
                        <div class="content">
                            <div class="text">
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Plan de passation</span>
                                    </a>
                                </div>
                                <div class="col-md-6 " style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Marchés publiques passés</span>
                                    </a>
                                </div>
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Etat d'éxécution</span>
                                    </a>
                                </div>
                                <div class="col-md-6"style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Marchés programmés</span>
                                    </a>
                                </div>
                               
                                <div class="col-md-6" >
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Résultats</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                <li class="accordion block">
                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon flaticon-minus flaticon-line"></span></div>Autres Documents financiers / Comptables</div>
                    <div class="acc-content"
                    style="padding-bottom:95px; ">
                        <div class="content">
                            <div class="text">
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Biens - Services - Contrats</span>
                                    </a>
                                </div>
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Bilans Financiers</span>
                                    </a>
                                </div>
                                <div class="col-md-6" >
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Dons et legs</span>
                                    </a>
                                </div>  
                                
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                <li class="accordion block">
                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon flaticon-minus flaticon-line"></span></div>Bilan Organique</div>
                    <div class="acc-content"
                    style="padding-bottom:165px; ">
                        <div class="content">
                            <div class="text">
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Comptes rendus</span>
                                    </a>
                                </div>
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Rapports annuels</span>
                                    </a>
                                </div>
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Rapports d'audits</span>
                                    </a>
                                </div>
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Arretés - Décisions - Délibérations</span>
                                    </a>
                                </div>
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Rapports d' études</span>
                                    </a>
                                </div>
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Rapports statistiques</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                <li class="accordion block">
                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon flaticon-minus flaticon-line"></span></div>Prestations et Services</div>
                    <div class="acc-content"
                    style="padding-bottom:25px; ">
                        <div class="content">
                            <div class="text">
                                <div class="text">
                                    <div class="col-md-6" style="padding-bottom:25px;">
                                        <a href="" class="sous-cat-item">
                                            <i class="fa fa-folder" aria-hidden="true"></i>
                                            <span>Formulaires et procédures </span>
                                        </a>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                <li class="accordion block">
                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon flaticon-minus flaticon-line"></span></div>Planification</div>
                    <div class="acc-content"
                    style="padding-bottom:95px; ">
                        <div class="content">
                            <div class="text">
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Plan d'actions</span>
                                    </a>
                                </div>
                                <div class="col-md-6" style="padding-bottom:25px;">
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Matrices d' activités</span>
                                    </a>
                                </div>
                                <div class="col-md-6" >
                                    <a href="https://solidarite.gouv.ci/information/info/2" class="sous-cat-item">
                                        <i class="fa fa-folder" aria-hidden="true"></i>
                                        <span>Projets - Programmes</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                <li class="accordion block">
                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon flaticon-minus flaticon-line"></span></div>Politiques Sociales</div>
                    <div class="acc-content"
                    style="padding-bottom:25px;">
                        <div class="content">
                            <div class="text">
                                <div class="text">
                                    <div class="col-md-6">
                                        <a href="" class="sous-cat-item">
                                            <i class="fa fa-folder" aria-hidden="true"></i>
                                            <span>Référentiels de formation</span>
                                        </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                <li class="accordion block">
                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon flaticon-minus flaticon-line"></span></div>Textes Juridiques</div>
                    <div class="acc-content"
                    style="padding-bottom:25px; ">
                        <div class="content">
                            <div class="text">
                                
                            </div>
                        </div>
                    </div>
                </li>
                  
            </ul>
            
        </div>
    </section>
{% endblock %}