{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}
<section class="page-title" style="background-image:url({% static 'home/images/background/6.jpg' %});">
  <div class="auto-container">
      <h1>{{blog_obj.titre}}</h1>
  </div>
</section>

<!--
<section class="page-info">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <div class="pull-left">
          <ul class="bread-crumb clearfix">
            <li><a href="">Accueil</a></li>
            <li>missions & Objectifs</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  -->
  <!--End Page Info-->
  <div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Content Side / Blog Single-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-single">
                    <div class="inner-box">
                        
                        <div class="image">
                            <img src="/media/{{blog_obj.image}}" alt="" />
                        </div>
                        <!--
                        <ul class="post-info">
                            <li>January 19, 2017</li>
                            <li>Posted by: Stephen Adams</li>
                            <li>Category: Business Plan</li>
                        </ul>
                        -->
                        <div class="lower-content">
                            <!--<h3>{{blog_obj.titre}}</h3>-->
                            <div class="text">
                                <p>{{blog_obj.description|safe}}</p>
                                <div class="row clearfix">
                                    <!--Image Column-->
                                    <div class="image-column col-md-5 col-sm-5 col-xs-12">
                                        <div class="image">
                                            <img src="images/resource/quote-image.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--post-share-options
                            <div class="post-share-options clearfix">
                                <div class="pull-left tags"><span>Tags: </span><a href="#">Consulting</a>, <a href="#">Business</a>, <a href="#">Seminar</a></div>
                                <ul class="pull-right social-icon-three clearfix">
                                    <li class="share"><span class="fa fa-share-alt"></span>&nbsp; Share :</li>
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                            -->
                            
                            <!--Author Box
                            <div class="author-box">
                                <h2>About Author</h2>
                                <div class="author-comment">
                                    <div class="inner-box">
                                        <div class="image"><img src="images/resource/author-2.jpg" alt="" /></div>
                                        <h3>Mark Richardson</h3>
                                        <div class="text">Give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, installations are becoming more importants, but if current installations are becoming but if current prefabrication the master-builder of human happiness.</div>
                                    </div>
                                </div>
                            </div>
                            -->
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Sidebar-->
            {% include 'home/sidebar.html' %}
        </div>
    </div>
</div>


{% endblock %}