{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}


     <section class="page-title" style="background-image:url({% static 'home/images/background/6.jpg' %});">
        <div class="auto-container">
            <h1>Direction Générale de l'Emploi</h1>
        </div>
    </section>
    
    <!--
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home' %}">Accueil</a></li>
                        <li>DGE</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    -->
    <!--End Page Info-->
    <div class="sidebar-page-container"  style="padding-bottom:0px;">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Content Side / Blog Single-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-single">
                    <div class="inner-box">
                        <!--
                        <ul class="post-info">
                            <li>January 19, 2017</li>
                            <li>Posted by: Stephen Adams</li>
                            <li>Category: Business Plan</li>
                        </ul>
                        -->
                        <div class="lower-content">
                            <h3>La Direction Générale de l'Emploi</h3>
                            <div class="text">
                                <p>
                                <b>
                                La Direction Générale de l'Emploi est chargée:
                                <br>- d'élaborer, de coordonner et de suivre la politique nationale de l'Emploi; 
                                <br>- d'initier et de conduire des missions d'observation du marché de l'emplo de promouvoir et de suivre l'application des programmes de création d'emplois et d'insertion socio professionnelle des personnes de plus de quarante ans, des femmes et des personnes handicapées;
                                <br>- de favoriser la création d'emplois pour les personnes de plus de quarante ans les femmes et les personnes handicapées; 
                                <br>- de mener des actions de mise en adéquation de l'emploi et de la formation; d'élaborer les stratégies de promotion de l'emploi et de lutte contre le chômage, en collaboration avec les structures publiques et privées intervenant dans le champ de formation-emploi, d'en coordonner la mise en œuvre et de les évaluer;
                                <br>- de veiller à la cohérence de la politique nationale de l'emploi avec la poltique de développement économique et social;
                                <br>- de veiller à la mise en œuvre des mesures relatives à la promotion de l'emploi, à la lutte contre la pauvreté et à l'exclusion sociale
                                <br>- de detinir iles stratégies visant a rentorcer la capacite d'embauche des entreprises
                                <br>- La Direction Générale de l'Emploi est dirigée par un Directeur Général nommé par décret pris en Conseil des Ministres. II a rang de Directeur Général d'Administration Centrale
                                <br>- La Direction Générale de l'Emploi comprend trois Directions la Direction des Stratégies et Programmes d'Emploi;
                                <br>- la Direction du Suivi et de l'Evaluation de la Politique de l'Emploi;
                                <br>- la Direction de l'Observatoire de l'Emploi et des Métiers Les Directions sont dirigées par des Directeurs nommés par décret pris en Conseil des Ministres. 
                                Ils ont rang de Directeur d'Administration Centrale.
                                </b>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Sidebar-->
            {% include 'home/sidebar.html' %}
            
        </div>
    </div>
</div>
    <!--Services Section-->
    <section class="services-page-section">
    	<div class="auto-container">
            <div class="row clearfix">
                <!-- Colum Empty -->
                <div class="col-lg-1"></div>
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'home/images/CAFE-CACAO.png' %}" alt="" />
                            <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/direction-des-strategies-et-des-programmes-demploi" class="overlay-box">
                                <span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                    <h3><a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/direction-des-strategies-et-des-programmes-demploi">D.S.P.E</a></h3>
                                    <div class="text">Direction des Stratégies et Programmes d'Emploi.</div>
                                    <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/direction-des-strategies-et-des-programmes-demploi" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'home/images/CAFE-CACAO.png' %}" alt="" />
                            <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/la-direction-du-suivi-et-de-levaluation-de-la-politique-de-lemploi" class="overlay-box">
                                <span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                <h3><a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/la-direction-du-suivi-et-de-levaluation-de-la-politique-de-lemploi">D.S.E.P.E</a></h3>
                                <div class="text">Direction du Suivi et Evaluation de la Politique de l’Emploi.</div>
                                    <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/la-direction-du-suivi-et-de-levaluation-de-la-politique-de-lemploi" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 <!-- Colum Empty -->
                 <div class="col-lg-1"></div>
            </div>
                    
            <div class="row clearfix">

                <!-- Colum Empty -->
                <div class="col-lg-1"></div>
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="{% static 'home/images/CAFE-CACAO.png' %}" alt="" />
                            <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/la-direction-de-lobservatoire-de-lemploi-et-des-metiers" class="overlay-box">
                                <span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                            <div class="content">
                                <div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                <h3><a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/la-direction-de-lobservatoire-de-lemploi-et-des-metiers">D.O.E.M</a></h3>
                                <div class="text">Direction de l'Observatoire de l'Emploi et des Metiers.</div>
                                <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dge/la-direction-de-lobservatoire-de-lemploi-et-des-metiers" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Colum Empty -->
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>

    <!--Services Section-->
    <section class="services-page-section" style="margin-top: -25vh;">
        <div class="auto-container">
            <div class="row clearfix">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a href="https://www.directiongeneraleemploi.ci/" target="_blank">
                        <button class="btn-style-four" style="margin-top:35px;">Visiter le site de la D.G.E</button>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            </div>
        </div>
    </section>
    <!--End Services Section-->
    

{% endblock %}