{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}

     
     <section class="page-title" style="background-image:url({% static 'home/images/background/6.jpg' %});">
        <div class="auto-container">
            <h1>Direction Générale du Travail</h1>
        </div>
    </section>
    <!--
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home' %}">Accueil</a></li>
                        <li>DGT</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    -->
    <!--End Page Info-->
        <div class="sidebar-page-container"  style="padding-bottom:0px;">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Content Side / Blog Single-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-single">
                    <div class="inner-box">
                        <!--
                        <ul class="post-info">
                            <li>January 19, 2017</li>
                            <li>Posted by: Stephen Adams</li>
                            <li>Category: Business Plan</li>
                        </ul>
                        -->
                        <div class="lower-content">
                            <h3>La Direction Générale du Travail</h3>
                            <div class="text">
                                <p>
                                <b>   
                                La Direction Générale du Travail est chargée:
                                <br>- d'élaborer et d'évaluer la politique générale dans les domaines du Travail; 
                                <br>- de superviser la conception des normes du travail et de veiller à leur application
                                <br>- d'assurer la prévention et la protection contre le travail des enfants; de procéder aux enquêtes sur les accidents de travail et de délivrer les procès-verbaux d'enquête de traiter les recours hiérarchiques formés contre les décisions des Inspecteurs du Travail;
                                <br>- d'élaborer et de suivre la réglementation en matière de médecine du Travail de promouvoir la sécurité au travail; de promouvoir le dialogue social
                                <br>- La Direction: Générale du Travail est dirigée par un Directeur Général nommé par décret pris en Conseil des Ministres. Il a rang de Directeur Général d'Administration Centrale.
                                <br>- La Direction Générale du Travail comprend quatre Directions
                                <br>- la Direction de la Réglementation du Travail la Direction de l'inspection du Travail la Direction de la Lutte contre le Travail des Enfants; la Direction de la Santé et de la Sécurité au Travail.
                                
                                <br>- de participer à l'élaboration de la réglementation du Travail; de suivre les relations internationales du Travail;
                                <br>- d'assurer le suivi et l'application des normes internationales du Travail;
                                <br>- d'assurer la diffusion de la réglementation du Travail.
                                </b> 
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Sidebar-->
            {% include 'home/sidebar.html' %}
        </div>
    </div>
</div>

    <!--Services Section-->
    <section class="services-page-section">
    	<div class="auto-container">
            <div class="row clearfix">
            	
                <!--News Block Two-->
                <div class="news-block-two col-lg-1 col-md-6 col-sm-6 col-xs-12"></div>

                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/drt.jpg' %}" alt="" />
                            <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-reglementation-du-travail" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                <h3><a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-reglementation-du-travail">D.R.T</a></h3>
                                <div class="text">Direction de la Règlementation du Travail.Plateau, Immeuble Sebroko</div>
                                <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-reglementation-du-travail" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/dit.jpg' %}" alt="" />
                            <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-linspection-du-travail" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                <h3><a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-linspection-du-travail">D.I.T</a></h3>
                                <div class="text">Direction de l'Inspection du Travail.</div>
                                <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-linspection-du-travail" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-block-two col-lg-1 col-md-6 col-sm-6 col-xs-12"></div>
            </div>
            <div class="row clearfix">
                
                <!--News Block Two-->
                <div class="news-block-two col-lg-1 col-md-6 col-sm-6 col-xs-12"></div>
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/dlte.jpg' %}" alt="" />
                            <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-lutte-contre-le-travail-des-enfants" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                <h3><a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-lutte-contre-le-travail-des-enfants">D.L.T.E</a></h3>
                                <div class="text">Direction de la Lutte Contre le Travail des Enfants. Cocody Angré 7ème Tranche, terminus 81/82</div>
                                <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-lutte-contre-le-travail-des-enfants" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block Two-->
                <div class="news-block-two col-lg-5 col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/dsst1.jpg' %}" alt="" />
                            <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-sante-et-de-la-securite-au-travail" class="overlay-box">
                            	<span class="icon fa fa-link"></span>
                            </a>
                        </div>
                        <div class="lower-content">
                        	<div class="content">
                            	<div class="icon-box"><span class="icon flaticon-structure"></span></div>
                                <h3><a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-sante-et-de-la-securite-au-travail">D.S.S.T</a></h3>
                                <div class="text">Direction de la Santé et de la Sécurité au Travail. Plateau Sebroco</div>
                                <a href="http://dev-meps-01.eastus.cloudapp.azure.com/detail-dgt/la-direction-de-la-sante-et-de-la-securite-au-travail" class="read-more">Lire plus &nbsp;<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-block-two col-lg-1 col-md-6 col-sm-6 col-xs-12"></div>
            </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section-->
    

{% endblock %}