{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}

     <section class="page-title" style="background-image:url({% static 'home/images/background/6.jpg' %});">
        <div class="auto-container">
            <h1>Equipe du Cabinet</h1>
        </div>
    </section>
    <!--
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home' %}">Accueil</a></li>
                        <li>Equipe du Cabinet</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    -->
    <section class="team-page-section">
    	<div class="auto-container">
            <div class="row clearfix">
            	
                <div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">M. TAPE GNONLEBA AUBIN </a></h3>
                            <div class="designation">DIRECTEUR DE CABINET</div>
                            <!--<div class="text">The President of Consulthub, she has been the captain of his team..</div>-->
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Mme. COULIBALY BINTOU</a></h3>
                            <div class="designation">DIRECTEUR DE CABINET ADJOINT.</div>
                            <!--<div class="text">Team Leader of Consulthub, he has been the captain of his team.. </div>-->
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">M. YAO PATRICK DRISSA</a></h3>
                            <div class="designation">CHEF DE CABINET</div>
                            <!--<div class="text">The HR Manger of Consulthub, he is very intelligent and smart.. </div>-->
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">M. KONATE IBRAHIM</a></h3>
                            <div class="designation">CONSEILLER TECHNIQUE</div>
                            <!--<div class="text">Accountant of Consulthub, she is one of the best person in comapny..</div>-->
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">M. DOSSO AZIZ</a></h3>
                            <div class="designation">CONSEILLER TECHNIQUE</div>
                            <!--<div class="text">The Founder of Consulthub, he is captain of our ship...</div>-->
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">M. DIE-KAKOU HENRI MAXIME</a></h3>
                            <div class="designation">CONSEILLER TECHNIQUE</div>
                            <!--<div class="text">The Consultant of Consulthub, she is very innovative person.. </div>-->
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Mme. DROUILLET NEE ROUX SYLVIA CORINE</a></h3>
                            <div class="designation">CONSEILLER TECHNIQUE</div>
                            <!--<div class="text">She is Marketing team leader of consulthub, very good talent person..</div>-->
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Mme. DIABAGATE HADJARA SOUMAYA KOUDOUS</a></h3>
                            <div class="designation">CHARGE D'ETUDES</div>
                            <!--<div class="text">The Consultant of Consulthub, she is very innovative person.. </div>-->
                        </div>
                    </div>
                </div>
                
            </div>
            
            
            <div class="row clearfix">
                
                <div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">M. GBANA HILLARY HERMANN DELORS</a></h3>
                            <div class="designation">CHARGE D'ETUDES</div>
                            <!--<div class="text">The Consultant of Consulthub, she is very innovative person.. </div>-->
                        </div>
                    </div>
                </div>
                
                <div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Mme. KLIGNON RUTH-DEBORA</a></h3>
                            <div class="designation">CHARGE D'ETUDES</div>
                            <!--<div class="text">The Consultant of Consulthub, she is very innovative person.. </div>-->
                        </div>
                    </div>
                </div>
                
                <div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">M. TRAORE MOHAMED LAMINE</a></h3>
                            <div class="designation">CHARGE D'ETUDES</div>
                            <!--<div class="text">The Consultant of Consulthub, she is very innovative person.. </div>-->
                        </div>
                    </div>
                </div>
                
                <div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Mme. MOHO DJESSIAN RACHELLE</a></h3>
                            <div class="designation">CHARGE D'ETUDES</div>
                            <!--<div class="text">The Consultant of Consulthub, she is very innovative person.. </div>-->
                        </div>
                    </div>
                </div>
                
            
                
            </div>
            
            
            
            
        </div>
    </section>
    

{% endblock %}