{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}

<!--About Section Two-->
<section class="page-info">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <div class="pull-left">
          <ul class="bread-crumb clearfix">
            <li><a href="">Accueil</a></li>
            <li>La cainet</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--End Page Info-->

  <!--Sidebar Page Container-->
  <div class="sidebar-page-container">
    <div class="auto-container">
      <div class="row clearfix">
        <!--Content Side / Blog Single-->
        <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
          <div class="blog-single">
            <div class="inner-box">
              <div class="image">
                <img src="{% static 'home/images/CAFE-CACAO.png'  %}" alt="" />
              </div>
              <div class="lower-content">
                <h3>À propos du Cabinet</h3>
                <div class="text">
                  <h4>
                    Sur rapport du Ministre de la Fonction Publique et de la Reforme Administrative:
                  </h4>
                  <ul class="decret">
                    <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      Vu la loi n0 92-570 du 11 septembre 1992 portant
                      Statut General de la Fonction Publique ;
                    </li>

                    <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      Vu le décret n0 93-607 du 02 juillet 1993 portant
                      modalités communes d’application du Statut Général de
                      la Fonction Publique ;
                    </li>

                    <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      Vu le décret n0 93-608 du 02 juillet 1993 portant
                      classification des grades et emploi dans
                      l’Administration de l’Etat et dans les Etablissements
                      Publics Nationaux ;
                    </li>

                    <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      Vu le décret n0 93-609 du 02 juillet 1993 portant
                      modalités particulières d’application du Statut
                      Général de la Fonction Publique ;
                    </li>

                    <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      Vu le décret n0 2012-1118 du 21 novembre 2012 portant
                      nomination du Premier Ministre, Chef du Gouvernement ;
                    </li>

                    <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      Vu le décret n0 2011-119 du 22 juin 2011 portant
                      création d’un Comité chargé de l’examen des projets de
                      nominations et des projets d’organigrammes des
                      départements ministériels dénommé « Comité restreint »
                    </li>

                    <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      Vu le décret n0 2012-1119 du 22 novembre 2012 portant
                      nomination des Membres du Gouvern5555ement, tel que
                      modifié par les décrets n0 2013-505 du 25 juillet
                      2013, n0 2013-784, n02013-785, n0 2013-786 du 19
                      novembre 2013 et le décret n0 2014-89 du 12 mars 2014
                      ;
                    </li>

                    <li><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      Vu le décret n0 2013-506 du 25 juillet 2013 portant
                      attributions des Membres du Gouvernement, tel que
                      modifié par décret n0 2013-802 du 21 novembre 2013 ;
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row clearfix">
                <div class="col-lg-3"></div>
                <div class="col-lg-9 fullWidth-75">
              <!--DECRET Section-->
                <!--Sidebar Page Container-->
                <div class="sidebar-page-container">
                  <div class="auto-container">
                    <div class="tabbable row clearfix">

                      

                      <!--Content Side / Services Single-->
                      <div class=" col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="services-single">
                          <div class="inner-box tab-content content-side">

                            <!--Upper Box | CHAPITRE_I -->
                            <div class=" tab-pane fade upper-box in active" id="CHAPITRE_I" role="tabpanel">
                              <div class="row clearfix">
                                <div class="column col-lg-12">
                                  <div class="upper-text">
                                    <strong class="decret-chapter">COMPOSITION DU CABINET MINISTERIEL</strong>
                                  </div>
                                  <!--Faq Section-->
                                  <section class="faq-section faq-decret style-one">
                                    <div class="auto-container">
                                      <ul class="accordion-box style-six ">
                                        <!--Block-->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 1 : Le présent décret
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le présent décret détermine l'organisation du Cabinet Ministériel.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <!--Block-->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 2 : Le Cabinet Ministériel
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  Le Cabinet Ministériel est composé :
                                                  <ul class="decret">
                                                    <li><span
                                                        class="glyphicon glyphicon-arrow-right"></span>D'un
                                                      Directeur de Cabinet</li>
                                                    <li><span
                                                        class="glyphicon glyphicon-arrow-right"></span>D'un
                                                      ou plusieurs Directeur(s) de Cabinet Adjoint(s), si
                                                      nécessaire&nbsp;;</li>
                                                    <li><span
                                                        class="glyphicon glyphicon-arrow-right"></span>D'un
                                                      Chef de Cabinet&nbsp;</li>
                                                    <li><span
                                                        class="glyphicon glyphicon-arrow-right"></span>De
                                                      Conseillers Techniques&nbsp;;</li>
                                                    <li><span
                                                        class="glyphicon glyphicon-arrow-right"></span>De
                                                      Chargés d’Etudes&nbsp;;</li>
                                                    <li><span
                                                        class="glyphicon glyphicon-arrow-right"></span>D'un
                                                      Chargé de Missions&nbsp;;</li>
                                                    <li><span
                                                        class="glyphicon glyphicon-arrow-right"></span>D'un
                                                      Chef de Secrétariat Particulier.</li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <!--Block-->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 3 : Le poste de Directeur de Cabinet Adjoint
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le poste de Directeur de Cabinet Adjoint dans un
                                                      Cabinet Ministériel est créé sur autorisation du
                                                      Premier Ministre.
                                                    </li>
                                                    <li><span
                                                        class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Premier Ministre fixe le nombre de postes de
                                                      Directeur de Cabinet Adjoint d'un Cabinet Ministériel
                                                      en fonction de l'étendue des attributions et des
                                                      charges du Ministère concerné.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </section>
                                  <!--End Decret 1 Section-->
                                </div>
                              </div>
                            </div>
                            <!--End Upper Box | CHAPITRE_I -->

                            <!--Upper Box | CHAPITRE_II -->
                            <div class=" tab-pane fade upper-box" id="CHAPITRE_II" role="tabpanel">
                              <div class="row clearfix">
                                <div class="column col-lg-12">
                                  <div class="upper-text">
                                    <strong class="decret-chapter">MISSIONS ET ATTRIBUTIONS DES MEMBRES DU CABINET MINISTERIEL:</strong>
                                  </div>
                                  <!--Faq Section-->
                                  <section class="faq-section faq-decret style-two">
                                    <div class="auto-container">
                                      <ul class="accordion-box style-six ">
                                        <!--Block-->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 4 : Le Cabinet Ministériel
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <p>Le Cabinet Ministériel est chargé, sous l'autorité du Ministre</p>
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span> de définir la politique générale du Ministère ;</li>
                                                      <li><span class="glyphicon glyphicon-arrow-right"></span>d'instruire les affaires relevant de sa compétence et celles qui lui sont soumises par le Ministre ;</li>
                                                      <li><span class="glyphicon glyphicon-arrow-right"></span>de veiller à l'exécution des décisions, directives et instructions du Ministre.</li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <!--Block-->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 5 : Le Directeur de Cabinet
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <p>Le Directeur de Cabinet assure la direction du Cabinet Ministériel.A ce titre, sous l'autorité du Ministre, il est chargé :</p>
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>De coordonner l'ensemble des activités du Cabinet Ministériel et d'en assurer la cohésion ;</li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>D'assurer le traitement du courrier ;</li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>De suivre les affaires relevant de la politique générale du département ministériel ;</li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>De donner son appréciation sur les dossiers à soumettre à la signature du Ministre ;</li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>D'assurer la discipline au sein du Cabinet Ministériel.</li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <!--Block-->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 6 : Les Directeurs de Cabinet Adjoints
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <p>Le Directeur de Cabinet peut être assisté dans ses fonctions,</p>
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      D'un ou de plusieurs Directeurs de Cabinet Adjoints qui reçoivent dans ce cas certaines de ses attributions.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      La répartition des attributions entre le Directeur de Cabinet et le ou les Directeurs de Cabinet Adjoints est déterminée par le Ministre.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 7 : Le Chef de Cabinet
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <p>Le Chef de Cabinet est chargé, sous l'autorité du Directeur de Cabinet :</p>
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      De l'intendance du Cabinet Ministériel ;
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Du suivi des activités du Ministre ;
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      De l'organisation des voyages du Ministre ;
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      De l'élaboration et du suivi de l'emploi du temps du Ministre ;
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Du suivi des relations avec la presse, en l’absence d'un responsable de la communication ;
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      De la gestion du personnel du Cabinet Ministériel.
                                                    </li>
                                                  </ul>
                                                  <p>
                                                    Le Chef de Cabinet est chargé de toute question qui intéresse personnellement le Ministre sous réserve qu'elle n'ait 
                                                    pas été attribuée par ce dernier au Chef de secrétariat particulier ou à tout autre membre du Cabinet Ministériel.
                                                  </p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 8 : Le Conseiller Technique
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <p>Le Conseiller Technique est chargé, dans les matières relevant de sa spécialité :</p>
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      De donner des avis ;
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      De procéder à des études techniques approfondies ;
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      De rédiger des rapports relatifs aux dossiers qui lui sont confiés par le Ministre ou le Directeur de Cabinet.
                                                    </li>
                                                    <li>
                                                      <p>
                                                        Le nombre de Conseillers Techniques par Cabinet Ministériel est fixé à cinq.
                                                      </p>
                                                      <p>
                                                        Toutefois, sur autorisation expresse du Premier Ministre, le nombre de Conseillers Techniques fixé à l'alinéa 1 ci-dessus 
                                                        peut être revu à la hausse en fonction de l'étendue des attributions et des charges du Ministère concerné.
                                                      </p>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 9 :  Le Chargé d'Etude,
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      assure l'étude de tout dossier qui lui est confié par le Directeur de Cabinet ou, le cas échéant, par le Conseiller Technique.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Il est également chargé du secrétariat des réunions auxquelles il est convié.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le nombre de Chargés d’Etudes par Cabinet Ministériel est fixé à cinq.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Toutefois, sur autorisation expresse du Premier Ministre, le nombre de Chargé d'Etude fixé à l'alinéa 1 ci-dessus
                                                       peut être revu à la hausse en fonction de l'étendue des attributions et des charges du Ministères concerné.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 10 : Le Chargé de Missions
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Chargé de Missions est chargé d'accomplir des missions spécifiques qui lui sont confiées par le Ministre.
                                                    </li>                                                    
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 11 : Le Chef de Secrétariat Particulier
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Chef de Secrétariat Particulier est chargé de la coordination des activités du secrétariat du Ministre.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        
                                      </ul>
                                    </div>
                                  </section>
                                  <!--End Decret 1 Section-->
                                </div>
                              </div>
                            </div>
                            <!--End Upper Box | CHAPITRE_II -->


                            <!--Upper Box | CHAPITRE_III -->
                            <div class=" tab-pane fade upper-box" id="CHAPITRE_III"
                              role="tabpanel">
                              <div class="row clearfix">
                                <div class="column col-lg-12">
                                  <div class="upper-text">
                                    <strong class="decret-chapter">NOMINATION DES MEMBRES DU CABINET MINISTERIEL:</strong>
                                  </div>
                                  <!--Faq Section-->
                                  <section class="faq-section faq-decret style-two">
                                    <div class="auto-container">
                                      <ul class="accordion-box style-six ">
                                        <!--Block-->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 12 : Le Directeur de Cabinet
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Directeur de Cabinet est nommé par décret pris en Conseil des Ministres, sur proposition du Ministre concerné, après avis conforme du Comité Restreint.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Directeur de Cabinet est nommé par décret pris en Conseil des Ministres, sur proposition du Ministre concerné, après avis conforme du Comité Restreint.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 13 : Le Directeur de Cabinet Adjoint
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Directeur de Cabinet Adjoint est nommé par arrêté du Ministre concerné.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Sans préjudice des dispositions du Statut Général de la Fonction Publique et des textes subséquents, il est recruté parmi les fonctionnaires du grade A6 au moins.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                       <!--  <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 13 : Le Directeur de Cabinet Adjoint
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Directeur de Cabinet Adjoint est nommé par arrêté du Ministre concerné.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Sans préjudice des dispositions du Statut Général de la Fonction Publique et des textes subséquents, il est recruté parmi les fonctionnaires du grade A6 au moins.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li> -->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 14 : Le Chef de Cabinet et le Conseiller Technique
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Chef de Cabinet et le Conseiller Technique sont nommés par arrêté du Ministre concerné, après avis conforme du Comité Restreint.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Sans préjudice des dispositions du Statut Général de la Fonction Publique et des textes subséquents, ils sont recrutés parmi les fonctionnaires du grade A4 au moins.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 15 : Le Chargé d'Etude, le Chargé de mission et le Chef de Secrétariat Particulier
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Chargé d'Etude, le Chargé de mission et le Chef de Secrétariat Particulier sont nommés par arrêté du Ministre concerné.
                                                    </li>
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Sans préjudice des dispositions du Statut Général de la Fonction Publique et des textes subséquents, ils sont recrutés parmi les fonctionnaires du grade A3 au moins.
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 16 : Des personnes non fonctionnaires justifiant d'une expérience professionnelle pertinente
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Des personnes non fonctionnaires justifiant d'une expérience professionnelle pertinente peuvent, à titre exceptionnel et après avis conforme du Comité Restreint, 
                                                      être nommé en qualité de membres de Cabinet Ministériel.
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>

                                      </ul>
                                    </div>
                                  </section>
                                  <!--End Decret 1 Section-->
                                </div>
                              </div>
                            </div>
                            <!--End Upper Box | CHAPITRE_III -->

                            <!--Upper Box | CHAPITRE_IV-->
                            <div class=" tab-pane fade upper-box" id="CHAPITRE_IV"
                              role="tabpanel">
                              <div class="row clearfix">
                                <div class="column col-lg-12">
                                  <div class="upper-text">
                                    <strong class="decret-chapter">DISPOSITIONS FINALES</strong>
                                  </div>
                                  <!--Faq Section-->
                                  <section class="faq-section faq-decret style-two">
                                    <div class="auto-container">
                                      <ul class="accordion-box style-six ">
                                        <!--Block-->
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 17 : Le présent décret
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le présent décret abroge toutes dispositions antérieures contraires, notamment le décret n0 90-1593 du 12 décembre 1990 fixant la composition des Cabinets Ministériels.
                                                    </li>                                                
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="accordion block">
                                          <div class="acc-btn">
                                            <div class="icon-outer">
                                              <span class="icon icon-plus flaticon-plus "></span>
                                              <span class="icon flaticon-minus flaticon-line"></span>
                                            </div>
                                            Article 18 : Le Premier Ministre
                                          </div>
                                          <div class="acc-content " style="padding-bottom:25px;">
                                            <div class="content">
                                              <div class="row text">
                                                <div class="col-lg-12">
                                                  <ul class="decret">
                                                    <li><span class="glyphicon glyphicon-arrow-right"></span>
                                                      Le Premier Ministre, Chef du Gouvernement, est chargé de l'exécution du présent décret qui sera publié au journal officiel de la République de Cote d'Ivoire.
                                                    </li>                                                    
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </section>
                                  <!--End Decret 1 Section-->
                                </div>
                              </div>
                            </div>
                            <!--End Upper Box | CHAPITRE_IV -->
                            <br><br>
                            <div class="pull-right" style="color: #696969;">Fait à Yamoussoukro, le 14 janvier 2015</div>
                          </div>
                        </div>
                      </div>

                    </div>
                      <!--Services Block Seven-->                    
                   <!--  <br><br> -->
                  </div>
                </div>
              <!--End DECRET Section-->                  
              </div>
              
            </div>               
            </div>
          </div>
        </div>
      <!-- </div>
      </div> -->

      <!--Sidebar-->
      <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <aside class="sidebar">
          <!-- Search Form -->
          <div class="sidebar-widget search-box">
            <form method="post" action="contact' %}">
              <div class="form-group">
                <input type="search" name="search-field" value="" placeholder="Search.." required />
                <button type="submit">
                  <span class="icon fa fa-search"></span>
                </button>
              </div>
            </form>
          </div>

          <!--Blog Category Widget-->
          <div class="sidebar-widget">
            <div class="sidebar-title">
              <h2>Liens Utiles</h2>
            </div>
            <div class="services-category">
              <ul class="services-list">
                <li class="active">
                  <a href=""><span class="icon flaticon-startup"></span>L'Équipe du Ministre</a>
                </li>
                <li>
                  <a href=""><span class="icon flaticon-startup"></span>Inspection Générale</a>
                </li>
              </ul>
            </div>
          </div>
          </div>
        </aside>
      </div>
    </div>
  </div>


{% endblock %}