{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Accueil</a></li>
                        <li>Liste du réseau d'enrôlement CMU</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side / Blog Single-->
                <div class="content-side col-lg-12">
                	<div class="blog-single">
                    	<div class="inner-box">
                            <a href="{% static 'home/Organigramme/sites-enrolements.pdf' %}">CENTRE D’ENROLEMENT CMU ABIDJAN</a>
                        </div>
                    </div>
                </div>  
                
            </div>
        </div>
    </div>
    <!--End Blog Grid Section-->
    
    
{% endblock %}