{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}
    
    <!--Page Info-->
    <section class="page-info">
        <div class="auto-container">
        	<div class="inner-container clearfix">
            
                <div class="pull-left">
                    <ul class="bread-crumb clearfix">
                        <li><a href="">Accueil</a></li>
                        <li>Equipe du Cabinet</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <div class="share-icon"><a href="#"><span class="icon fa fa-share-alt"></span> Share</a></div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Page Info-->
    
    <!--Team Section-->
    <section class="team-page-section">
    	<div class="auto-container">
            <div class="row clearfix">
            	
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-1.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Brown Angelino</a></h3>
                            <div class="designation">President</div>
                            <div class="text">The President of Consulthub, she has been the captain of his team..</div>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-2.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Astely Fletcher</a></h3>
                            <div class="designation">Team Leader</div>
                            <div class="text">Team Leader of Consulthub, he has been the captain of his team.. </div>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-3.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Jones Antony</a></h3>
                            <div class="designation">HR Manager</div>
                            <div class="text">The HR Manger of Consulthub, he is very intelligent and smart.. </div>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-4.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Bernatt Rotty</a></h3>
                            <div class="designation">Accountant</div>
                            <div class="text">Accountant of Consulthub, she is one of the best person in comapny..</div>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-5.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Jade Kentigern</a></h3>
                            <div class="designation">Founder</div>
                            <div class="text">The Founder of Consulthub, he is captain of our ship...</div>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-6.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Eliot Hannaiah</a></h3>
                            <div class="designation">Counsultant</div>
                            <div class="text">The Consultant of Consulthub, she is very innovative person.. </div>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-7.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Peter Eldridge</a></h3>
                            <div class="designation">Marketing</div>
                            <div class="text">She is Marketing team leader of consulthub, very good talent person..</div>
                        </div>
                    </div>
                </div>
                
                <!--Team Member-->
            	<div class="team-member style-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<img src="{% static 'home/images/resource/team-8.jpg' %}" alt="" />
                            <div class="overlay-box">
                            	<ul class="social-icon-two">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-skype"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Neil Hurthbert</a></h3>
                            <div class="designation">Consultant</div>
                            <div class="text">The Consultant of Consulthub, she is very innovative person.. </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Team Section-->
    
{% endblock %}