{% extends 'home/base.html' %}
    
{% load static %}
    
{% block content %}
    
    <!--Page Info-->
<section class="page-info">
    <div class="auto-container">
        <div class="inner-container clearfix">
        
            <div class="pull-left">
                <ul class="bread-crumb clearfix">
                    <li><a href="">Accueil</a></li>
                    <li>Structures sous-tutelles</li>
                </ul>
            </div>
            
        </div>
    </div>
</section>
<!--End Page Info-->

<section class="blog-grid-section">
    <div class="auto-container">            
        <div class="row equal-cols">               
            <!--News Block-->

            <!--Welcome Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                                <span class="icon flaticon-teacher"></span>
                            </div>
                            <h3>MUGEFCI</h3>
                            <div class="text">Mutuelle générale des fonctionnaires et agents de l'État</div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-teacher"></span>
                                    </div>
                                    <div class="text">Plateau, Immeuble <strong>Les Arcades</strong> Avenue Franchet d'Esperey, non loin <br>de l'immeuble <strong>La Pyramide.</strong>  <br>Tel : 20 25 74 00 / 20 25 74 11</div>
                                    <a class="read-more" target="_blank" href="https://www.mugef-ci.com/">Lire plus</a>
                                </div>
                            </div>
                    </div>
            </div>
            <!-- End Welcome Block -->
            
            <!--Welcome Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                <div class="icon-box">
                            <span class="icon flaticon-teacher"></span>
                        </div>
                        <h3>IPS-CNAM</h3>
                        <div class="text">Institution de prévoyance sociale- caisse Nationale d'assurance Maladie.</div>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-teacher"></span>
                                </div>
                                <div class="text">Avenue Lamblin, Immeuble l'Equateur<br> 04 BP 2930 Abidjan 04.<br>Tel : 27 20 22 55 00</br>Email:infos@pfs-yopougon.net</div>
                                <a class="read-more" href="https://www.annuaireci.com/cote-divoire/fr-FR/ips--cnam-institution-de-prevoyance-sociale" target="_blank">Lire plus</a>
                            </div>
                        </div>
                </div>
            </div>
            <!-- End Welcome Block -->
            
            <!--Welcome Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-teacher"></span>
                    </div>
                    <h3>IPS-CGRAE</h3>
                    <div class="text">Institution de prévoyance sociale- Caisse Générale De Retraite des agents de l'Etat</div>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-teacher"></span>
                                </div>
                                <div class="text">Abidjan plateau, entre l'agence principale MTN et les galeries Peyrissac<br>Tel : 27 20 25 12 12<br> BP V 164 Abidjan
                                </div>
                                <a class="read-more" href="https://www.cgrae.ci" target="_blank">Lire plus</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row clearfix equal-cols">
            <!-- End Welcome Block -->
        
            <!--Welcome Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-teacher"></span>
                    </div>
                    <h3>IPS-CNPS</h3>
                            <div class="text">Institution de prévoyance sociale- Caisse Nationale De Prévoyance Sociale</div>
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="icon-box">
                                        <span class="icon flaticon-teacher"></span>
                                    </div>
                                    <div class="text">Abidjan Plateau, face à la mosquée, 24, Avenue Générale de Gaulle,01 BP 317 Abidjan 01. <br>Tel : 27 20 25 20 50</div>
                                    <a class="read-more" href="https://www.cnps.ci/" target="_blank">Lire plus</a>
                                </div>
                            </div>
                    </div>
                </div>
            <!-- End Welcome Block -->
            <!--Welcome Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-teacher"></span>
                    </div>
                    <h3>PFS-CI</h3>
                        <div class="text">Plate-Forme de services De Cote D'Ivoire</div>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-teacher"></span>
                                </div>
                                <div class="text">Yopougon, quartier Banco <br>à proximité de l'allocodrome municipal<br>Tel: 27 22 41 90 91 / 27 22 41 91 91</div>
                                <a class="read-more" href="https://pfs-yopougon.net/" target="_blank">Lire plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Welcome Block -->

            <!--Welcome Block-->
            <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-teacher"></span>
                    </div>
                    <h3>AIRMS</h3>
                    <div class="text">Institution de prévoyance sociale- Agence Ivoirienne de Régulation de la Mutualité Sociale</div>
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-teacher"></span>
                                </div>
                                <div class="text">01 BP 1922 Abidjan 01 RIVIERA FAYA <br> ROUTE DE BINGERVILLE IMMEUBLE ARMISI,1ER ETAGE <br>Tel: +225 27 22 46 65 02.
                                </div>
                                <a class="read-more" target="_blank" href="https://www.airms-ci.com/">Lire plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Welcome Block -->
            </div>
        </div>            
    </div>
</section>
    
{% endblock %}