{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include 'accounts/navbar.html' %}
<div class="main-content">
    
{% include 'accounts/navbar-top.html' %}
    <!-- Header -->
    <div class="header pb-8 pt-1 pt-lg-8 d-flex align-items-center" style="min-height: 100px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <!--<img src="{% static 'assets/img/theme/team-4-800x800.jpg' %" class="rounded-circle">-->
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Actualites</h3>
                </div>
                <div class="col-4 text-right">
                  {% include 'accounts/pages/actualites/messages.html' %}
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="pl-lg-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Titre</label>
                        {{ form.titre }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Résumé</label>
                        {{ form.resume }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <label>Contenu</label>
                        {{ form.description }}
                      </div>
                    </div>


                    <div class="col-md-4" >
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name"> Charger une image</label>
                        <span class="btn btn-file">{{ form.image }}</span>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <button type="submit" class="btn btn-sm btn-primary">Enregistrer</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      
        <!-- Table -->
        <div class="row">
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Articles</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Titre</th>
                      <th scope="col">Status</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for a in actus %}
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm">{{ a.titre }}</span>
                          </div>
                        </div>
                      </th>
                      <td>
                        <span class="badge badge-dot">
                          <i class="bg-info"></i> En ligne
                        </span>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <a href="{% url 'editactualites' a.id %}"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="{% url 'deleteactualite' a.id %}"><i  class="material-icons" data-toggle="tooltip" title="Supprimer">&#xE872;</i></a>
                          <div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="card-footer py-4">
                <nav aria-label="...">    
                  {% if actualites.has_other_pages %}
                  <ul class="pagination justify-content-end mb-0">
                  {% if actualites.has_previous %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" href="?page={{ actualites.previous_page_number }}">
                          <span class="sr-only">Précédent</span></a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                  {% endif %}
                  {% for i in actualites.paginator.page_range %}
                      {% if actualites.number == i %}
                      <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span> 
                  .     </span></li>
                  {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if actualites.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ actualites.next_page_number }}"><span class="sr-only">Suivant</span></a></li>
                      {% else %}
                      <li class="page-item disabled"><span class="sr-only">SUivant</span></li>
                      {% endif %}
                  </ul>
                  {% endif %}
                </nav>
              </div>
            </div>
          </div>
        <!-- Light table -->
        
        <!-- Footer -->
        <footer class="footer">
          <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-9">
              <div class="copyright text-center text-xl-left text-muted">
                &copy; 2022 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">MEPS Tableau de bord</a>
              </div>
            </div>
            <div class="col-xl-3">
              <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link" target="_blank">V.1.0</a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
              </ul>
            </div>
          </div>
        </footer>
    </div>
  </div>

{% endblock %}